@{
    Layout = "~/_Layout.cshtml";
    Page.Title = string.Format("Razor - {0}", "Exercise 01");
    var customername = Request.Form["dataentry"];
    var thebutton = Request.Form["theButton"];
    string choices = "";

}

@section banner {
    <h1>@Page.Title</h1>
}

@if (IsPost)
{
    <div class="offset-1">
        <p></p>
    </div>
    choices = "";
    choices = Request.Form["meals"];
    if (thebutton.Equals("submit",StringComparison.OrdinalIgnoreCase)) //press submit buttom
    {
        if (string.IsNullOrEmpty(customername)) // didn`t enter name
        {
            <div class="offset-1">
                <p style="color:firebrick">Please enter customer name</p>
            </div>
        }

        else if (choices.IsEmpty())//didn`t choose
        {
            <div class="offset-1">
                <p style="color:firebrick">Please choose meal items</p>
            </div>
        }

        else
        {
            <div class="offset-1">
                <p>
                    @customername ,I see that you have the following meal entries:
                    <ul>
                        @foreach (var platform in choices.Split(','))
                        {
                            <li>@platform</li>
                        }
                    </ul>
                </p>
            </div>
        }
    }
    else //reset button was pressed
    {
        choices = "";
        customername = "";
        <div class="offset-1">
            <p>You pressed the reset button</p>
        </div>
    }
}
else
{
    <div class="offset-1">
        <p>Please select the meal entries of your choice</p>
    </div>
}

<form id="theform" method="post">
    <div class="row">
        <div class="col-md-3">
            <p>Customer Name:</p>
            <input type="text" id="dataentry" name="dataentry" value="@customername" />
        </div>
        <div class="col-md-9">
            <label id="mealitems">Choose your meal items</label><br />
            <input type="checkbox" id="meals" name="meals" value="Steak"
                   @(Array.IndexOf(choices.Split(','), "Steak") >= 0 ? "checked" : "") />Steak<br />
            <input type="checkbox" id="meals" name="meals" value="Seafood"
                   @(Array.IndexOf(choices.Split(','), "Seafood") >= 0 ? "checked" : "") />Seafood<br />
            <input type="checkbox" id="meals" name="meals" value="Vegetables"
                   @(Array.IndexOf(choices.Split(','), "Vegetables") >= 0 ? "checked" : "") />Vegetables<br />
        </div>
    </div>
    <div class="row">
        <button type="submit" id="theButton" name="theButton"
                value="submit" class="btn btn-primary">
            Submit
        </button>&nbsp;&nbsp;
        <button type="submit" id="theButton" name="theButton"
                value="reset" class="btn btn-light">
            Reset
        </button>
    </div>
</form>